USE [master]
GO
/****** Object:  Database [Subscribers]    Script Date: 06.12.2022 9:04:27 ******/
CREATE DATABASE [Subscribers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Subscribers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Subscribers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Subscribers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Subscribers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Subscribers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Subscribers]
GO
/****** Object:  Table [dbo].[Operators]    Script Date: 06.12.2022 9:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[IDOper] [int] IDENTITY(1,1) NOT NULL,
	[Operator] [nvarchar](100) NULL,
	[Founder] [nvarchar](125) NULL,
	[GeneralManager] [nvarchar](125) NULL,
	[YearOfFoundation] [int] NULL,
	[NumberOfEmployees] [int] NULL,
 CONSTRAINT [PK_Operators] PRIMARY KEY CLUSTERED 
(
	[IDOper] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvisionOfServices]    Script Date: 06.12.2022 9:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvisionOfServices](
	[IDProv] [int] IDENTITY(1,1) NOT NULL,
	[IDSub] [int] NULL,
	[IDSer] [int] NULL,
 CONSTRAINT [PK_ProvisionOfServices] PRIMARY KEY CLUSTERED 
(
	[IDProv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 06.12.2022 9:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[IDSer] [int] IDENTITY(1,1) NOT NULL,
	[IDOper] [int] NULL,
	[Rate] [nvarchar](100) NULL,
	[IDTypeS] [int] NULL,
	[Characteristic] [nvarchar](max) NULL,
	[PricePerMonth] [float] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[IDSer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subs]    Script Date: 06.12.2022 9:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subs](
	[IDSub] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](125) NULL,
	[Adress] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](150) NULL,
	[Balance] [float] NULL,
 CONSTRAINT [PK_Subs] PRIMARY KEY CLUSTERED 
(
	[IDSub] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesOfServices]    Script Date: 06.12.2022 9:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesOfServices](
	[IDTypeS] [int] IDENTITY(1,1) NOT NULL,
	[TypeService] [nvarchar](150) NULL,
 CONSTRAINT [PK_TypesOfServices] PRIMARY KEY CLUSTERED 
(
	[IDTypeS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProvisionOfServices]  WITH CHECK ADD  CONSTRAINT [FK_ProvisionOfServices_Services] FOREIGN KEY([IDSer])
REFERENCES [dbo].[Services] ([IDSer])
GO
ALTER TABLE [dbo].[ProvisionOfServices] CHECK CONSTRAINT [FK_ProvisionOfServices_Services]
GO
ALTER TABLE [dbo].[ProvisionOfServices]  WITH CHECK ADD  CONSTRAINT [FK_ProvisionOfServices_Subs] FOREIGN KEY([IDSub])
REFERENCES [dbo].[Subs] ([IDSub])
GO
ALTER TABLE [dbo].[ProvisionOfServices] CHECK CONSTRAINT [FK_ProvisionOfServices_Subs]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Operators] FOREIGN KEY([IDOper])
REFERENCES [dbo].[Operators] ([IDOper])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Operators]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_TypesOfServices] FOREIGN KEY([IDTypeS])
REFERENCES [dbo].[TypesOfServices] ([IDTypeS])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_TypesOfServices]
GO
USE [master]
GO
